@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h1{
    color: rgb(0, 160, 21);
    text-align: center;
    font-family:"Roboto Mono";
    font-weight:700;
    font-size: 45px;
}
h2{
    font-family:"Roboto Mono";
    font-weight:700;
    font-size: 35px;
}
.Time{
    width: 800px;
    padding: 20px;
    margin: 50px;
    border: solid black 2px;
    text-align: center;
    box-shadow: 5px 5px;
}
#cru{
    color: rgb(0, 90, 180);
}
#pat{
    color: rgb(68, 68, 68);
}
#cap{
    color: darkred;
}
.ImgTime{
    width:200px
}